*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black-chocolate: #1a1814;
  --pine-tree: #2b2a18;
  --devy-grey: #545454;
  --apple-gren: #82a708;

  /*  */
  --white: #fff;
  --anti-fleash-white: #f2f3f4;
  --picton-blue: #45b1e8;
}

@font-face {
  font-family: league-spartan;
  src: url(/assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: norse-bold;
  src: url(/assets/fonts/Norse-Bold.otf);
}

html {
  font-size: 100%;
  font-family: league-spartan;
  color: var(--black-chocolate);

  body {
    background-color: var(--white);

    h3 {
      font-size: 1.25rem;
      margin-bottom: 16px;
    }
    fieldset {
      border: none;
    }

    button[type="submit"],
    input {
      border-radius: 5px;
      letter-spacing: 1px;
    }

    button[type="submit"],
    input {
      font-family: league-spartan;
    }

    /* main */
    .cls-wrapper {
      letter-spacing: 1px;
      width: 100%;
      margin: auto;
      background-color: var(--anti-fleash-white);
      display: grid;
      grid-template-columns: 1fr;

      .sect-left {
        background: rgba(0, 0, 0, 0.75) url(/assets/images/eduardo-soares.jpg)
          no-repeat 15%;
        background-size: cover;
        height: 250px;
        margin: 0 0 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        header,
        p {
          margin-top: auto;
        }

        header {
          width: 100%;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.35);
          color: var(--white);
          align-self: center;
          justify-self: center;

          img {
            width: 80px;
          }

          h1 {
            font-family: norse-bold;
            font-size: 80px;
            text-transform: uppercase;
          }
        }
        p {
          color: var(--white);
          font-size: 0.75rem;
          padding-bottom: 10px;

          a {
            color: var(--anti-fleash-white);
            transition: 0.2d ease-in-out;

            &:hover,
            &:focus {
              color: var(--picton-blue);
            }
          }
        }
      }

      .sect-right {
        width: 100%;
        header {
          h3 {
            line-height: 1.2;
            padding: 0 32px;
          }
        }
        /* form */
        .cls-frm {
          width: inherit;
          margin-bottom: 32px;

          .fld-container {
            background-color: var(--white);
            box-shadow: 0 4px 2px -2px #a3a3a3;
            padding: 16px 0 0 32px;
            margin-bottom: 32px;

            .fld-arrange {
              width: 100%;

              .fld-single {
                label {
                  display: block;
                  text-transform: uppercase;
                  font-size: 1rem;
                  color: var(--pine-tree);
                }
                input {
                  outline: none;
                  border: 1px solid var(--anti-fleash-white);
                  width: 90%;
                  max-width: 350px;
                  display: block;
                  color: var(--devy-grey);
                  height: 32px;
                  padding: 0 16px;
                  margin-bottom: 32px;
                  transition: 0.3s ease-in-out;

                  &:focus,
                  &:hover {
                    border: 1px solid var(--picton-blue);
                    box-shadow: 0 2px 4px -1px var(--devy-grey);
                  }
                  /* 
                  &:valid {
                    border: 1px solid var(--picton-blue);
                  }
  
                  &:invalid:required {
                    border: 1px solid rgb(160, 3, 3);
                  } */
                }
              }
            }
          }

          button[type="submit"] {
            border: none;
            outline: none;
            display: block;
            width: 90%;
            height: 48px;
            margin: auto;
            background: rgba(130, 167, 8, 0.5);
            color: var(--black-chocolate);
            font-size: 1rem;
            font-weight: 600;
            text-transform: capitalize;
            cursor: pointer;
            box-shadow: 0 3px 6px -1px var(--devy-grey);
            transition: 0.3s ease-in-out;

            &:focus,
            &:hover {
              background-color: var(--apple-gren);
              color: var(--white);
            }
          }
        }
      }

      #para {
        margin-bottom: 32px;
        margin-left: 32px;
        a {
          color: var(--picton-blue);
          text-decoration: none;
          font-weight: 600;
          transition: 0.3s ease-in-out;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    body {
      .cls-wrapper {
        height: 100vh;
        display: grid;
        grid-template-columns: 40% 60%;

        .sect-left {
          min-height: 100%;
        }

        .sect-right {
          min-height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          header {
            padding-bottom: 48px;
            h3 {
              padding-left: 32px;
            }
          }

          .cls-frm {
            .fld-container {
              padding-left: 32px;
              .fld-arrange {
                display: flex;
              }
            }

            button[type="submit"] {
              width: 250px;
              margin-left: 32px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    body {
      .cls-wrapper {
        max-width: 1200px;
        margin: auto;
      }
    }
  }
}
