*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black-chocolate: #1a1814;
  --devy-grey: #545454;
  --apple-gren: #82a708;

  /*  */
  --white: #fff;
  --bright-gray: #e5e7eb;
  --picton-blue: #45b1e8;
}

@font-face {
  font-family: league-spartan;
  src: url(/assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: norse-bold;
  src: url(/assets/fonts/Norse-Bold.otf);
}

html {
  font-size: 100%;
  font-family: league-spartan;
  color: var(--black-chocolate);

  body {
    background-color: var(--white);

    h3 {
      font-size: 1.35rem;
      margin-bottom: 16px;
    }
    fieldset {
      border: none;
    }

    button[type="submit"],
    input,
    .sect-left {
      border-radius: 5px;
    }

    button[type="submit"],
    input {
      font-family: league-spartan;
    }

    /* main */
    .cls-wrapper {
      letter-spacing: 1px;
      width: 90%;
      margin: auto;

      .sect-left {
        background: rgba(0, 0, 0, 0.75) url(/assets/images/eduardo-soares.jpg)
          no-repeat 15%;
        background-size: cover;
        height: 250px;
        margin: 16px 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        header {
          width: 100%;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.35);
          color: var(--white);
          align-self: center;
          justify-self: center;
          img {
            width: 80px;
          }
          h1 {
            font-family: norse-bold;
            font-size: 80px;
            text-transform: uppercase;
          }
        }
      }

      .sect-right {
        header {
          h3 {
            line-height: 1.2;
          }
        }
        /* form */
        .cls-frm {
          width: 100%;
          margin-bottom: 32px;

          .fld-container {
            box-shadow: 0 4px 2px -2px var(--devy-grey);
            padding: 16px 0 0;
            margin-bottom: 32px;

            .fld-arrange {
              width: 100%;

              .fld-single {
                label {
                  display: block;
                  text-transform: uppercase;
                  font-size: 1rem;
                  /* font-weight: 500; */
                }

                input {
                  outline: none;
                  border: 1px solid var(--bright-gray);
                  width: 90%;
                  display: block;
                  color: var(--devy-grey);
                  height: 32px;
                  padding: 0 16px;
                  margin-bottom: 32px;
                  transition: 0.3s ease-in-out;

                  &:focus,
                  &:hover {
                    border: 1px solid var(--picton-blue);
                    box-shadow: 0 2px 4px -1px var(--devy-grey);
                  }
                }
              }
            }
          }

          button[type="submit"] {
            border: none;
            outline: none;
            width: 100%;
            height: 48px;
            background: rgba(130, 167, 8, 0.35);
            color: var(--black-chocolate);
            font-size: 1rem;
            font-weight: 600;
            text-transform: capitalize;
            cursor: pointer;
            box-shadow: 0 3px 6px -1px var(--devy-grey);
            transition: 0.3s ease-in-out;

            &:focus,
            &:hover {
              background-color: var(--apple-gren);
              color: var(--white);
            }
          }
        }
      }

      #para {
        margin-bottom: 32px;
        a {
          color: var(--picton-blue);
          text-decoration: none;
          font-weight: 600;
          transition: 0.3s ease-in-out;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
